html {
  position: relative;
  min-height: 100%; }

body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
  margin-bottom: 60px;
  background: url("../images/Website-Template-blue.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

.header {
  z-index: 100001; }

.labels {
  color: #01b2f1; }

.btn-primary {
  font-weight: bold; }

.btn-primary:focus {
  font-weight: bold;
  outline: 0; }

.btn-primary:active:focus {
  font-weight: bold;
  outline: 0;
  box-shadow: none; }

.btn-primary:hover {
  font-weight: bold; }

.form-area {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.submit-view {
  margin-top: 20px; }

.footer {
  padding-top: 50px;
  bottom: 0;
  width: 100%;
  height: 190px; }

.footerSection1 {
  text-align: center; }

.footerSection1 > tbody > tr > td {
  border: 0; }

.footerlogo {
  content: url("../images/image.png");
  height: 65px;
  width: 65px; }

.footer > div > div {
  text-align: center; }

.socialIcons {
  background: inherit;
  color: #01b2f1;
  margin: 0 auto; }

.socialIcons > tbody > tr > td {
  width: 30px; }

.social {
  display: inline; }

.footerSection2 {
  text-align: center; }

.footerSection2 > tbody > tr > td {
  border: 0;
  color: #01b2f1; }

/*# sourceMappingURL=output.css.map */
